.costs {
  background-color: yellow;
}

.in-stock {
  background-color: red;
}

.finance {
  background-color: blue;
}

.main-container > .row {
  margin: 20px 0;
}

.box {
  font-size: x-large;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(13, 96, 252);
}

.box-title {
  font-weight: bold;
}