body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.storage {
  width: 320px;
  padding: 10px;
  border: 1px solid gray;
  margin: 10px 0;
  background-color: red;
}

.finance {
  width: 320px;
  padding: 10px;
  border: 1px solid gray;
  margin: 10px 0;
  background-color: blue;
}

.game {

}

.game-info {
  margin-left: 20px;
}
